*{
    margin:0;
    padding:0;
}


body{
    display:flex;
    align-items:center;
    justify-content:center;
    background-color:darkgray;
    box-sizing:border-box;
}


body > form {
    display:flex;
    border:1px solid black;
    padding:10px;
    background-color:antiquewhite;
    box-shadow:2px 3px 5px 4px rgba(0,0,0,0.2);
    flex-flow:column nowrap;
}

form > input, button{
    margin:0.5rem auto;
    font-size:18px;
    padding:12px;
    width:30vw;
}

form > button {
    font-size:14px;
    width:20vw;
    color:white;
    background-color:#333;
    cursor:pointer;
}

form > button:hover{
    background-color:gray;
}
.mainContainer{
    display:flex;
    flex-wrap: nowrap;
    height:85vh;
    width:80vw;
    border:1px solid black;
    overflow:scroll; 
    background-color:lightgray;
    box-shadow: 1px 2px 8px 8px rgba(0,0,0,0.18);
    transition: box-shadow 0.4s;
}

.mainContainer:hover{
    box-shadow: 1px 2px 8px 8px rgba(0,0,0,0.26);
}


.trackerInput_container{
    flex:0.50;
    display:flex;
    border-right: 1px solid #333;
    flex-flow:column nowrap;
    /* align-items:center;
    justify-content:center; */
}

.trackerInput_navbar, .trackerOutput_navbar{
    background-color:sandybrown;
    padding:10px;
    text-align:center;
    font-size:1.2rem;
    width:100%;
    display:flex;
    flex-flow:row wrap;
    align-items:center;
    min-height:10vh;
    justify-content:space-evenly;
}



.trackerInput_navbar > h2 > span > button {
    width:8vw;
    margin-left:20px;
    border-radius:12px;
}

.trackerOutput_container{
    flex:0.50;
    position: relative;
    /* background-color:red; */
    /* padding:10px; */
}


.trackerInput_box {
    margin:auto;        
    display:flex;
    flex-flow:column nowrap;
    align-items:center;
}

.trackerInput_box > input{
    width:20vw;
    margin: 10px auto;
    font-size:18px;
    padding:10px;
}

.expense_btns {
    margin:4px;
    display:flex;
    width:20vw;
    justify-content:space-evenly;
}
.expense_btns>button {
    padding:10px;
    cursor:pointer;
}

.trackerOutput_box{
    display:flex;
    padding: 30px;
    flex-flow: column nowrap;
    overflow:scroll;
}

.trackerOutput_box > h2{
    text-align:center;
}
.trackerOutput_box>ul{
    margin:0px 20px;
}

.trackerOutput_box > ul > li{
    font-size: 26px;
}

.totalExpenses{
    position:absolute;
    padding:20px;
    width:100%;
    background-color:#333;
    color:white;
    bottom:0%;
    text-align:center;
}
.list-amount::before,
#total_expenses::before {
    content: "₹ ";
}

.list-group-item{
    display:flex;
    justify-content:space-between;
}
.list-amount {
    font-family: cursive;
}

#total_expenses{
    font-family: cursive;
}

::-webkit-scrollbar{
    display:none;
}
