@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root{
    --primary:#004AAD;
    --background:darkgray;
    --heading:#fafafa;
    --dark-color:#333;
    --inner-bg:#ebebeb;

}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
    box-sizing: border-box;
    font-family: 'Poppins',
        sans-serif;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
    box-sizing: border-box;
    width: 100%;
}

button {
    font-family: 'Roboto Mono', monospace;
}

.loginBody {
    padding: 6px;
}

.loginBody>form {
    display: flex;
    border: 1px solid black;
    padding: 12px;
    width: 35vw;
    background-color: lightgray;
    box-shadow: 2px 3px 5px 4px rgba(0, 0, 0, 0.2);
    flex-flow: column nowrap;
    border-radius: 20px;
    border:none;
    transition:box-shadow 0.3s;
}
.loginBody>form:hover{
    box-shadow: 2px 3px 5px 5px rgba(0, 0, 0, 0.3);
}

form>img {
    margin: 20px auto;
    height: 35vh;
    width: 30vw;
}

input,
button {
    margin: 0.5rem auto;
    font-size: 18px;
    padding: 12px;
    width: 30vw;
    border-radius: 12px;
    border: none;
    box-shadow: 1px 2px 2px 3px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s;
}


input{
    background-color:var(--inner-bg)
}
input:hover,
button:hover {
    box-shadow: 1px 3px 4px 3px rgba(0, 0, 0, 0.36);
}

button,
input:focus {
    outline: 0;
}

form>button {
    font-size: 14px;
    width: 20vw;
    color: var(--heading);
    cursor: pointer;
    transition:background-color 0.3s;
    background-color: var(--dark-color);
}

form>button:hover {
    background-color: var(--primary);
}

form>button>i {
    margin-right: 10px;
}

.trackerInput_container {
    flex: 0.50;
    height: 100vh;
    display: flex;
    border-right: 1px solid var(--dark-color);
    flex-flow: column nowrap;
    position: sticky;
}

.trackerOutput_container {
    flex: 0.50;
    display: flex;
    height: 100vh;
    flex-flow: column nowrap;
    position: relative;
}

.trackerOutput_box {
    display: flex;
    padding: 30px;
    flex-flow: column nowrap;
    overflow: scroll;
}

.trackerInput_box {
    margin: auto;
    padding-top: 10px;
    width: 80%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.trackerInput_navbar,
.trackerOutput_navbar {
    background-color: var(--primary);
    padding: 10px;
    text-align: center;
    font-size: 1.2rem;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    min-height: 10vh;
    justify-content: space-evenly;
    position: sticky;
    box-shadow: 4px 1px 3px 4px rgba(0, 0, 0, 0.3);
    color: var(--heading);
    transition: box-shadow 0.3s;
}

h2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#userImg {
    margin-left: 20px;
    height: 7vh;
    width: 5vw;
    border-radius: 50%;
    border: none;
}


.trackerInput_navbar:hover,
.trackerOutput_navbar:hover {
    box-shadow: 4px 2px 3px 4px rgba(0, 0, 0, 0.4);
}

.deleteBtn {
    width: 3vw;
    font-size: 12px;
    margin-left: 10px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
}
.deleteBtn:hover {
    background-color: var(--dark-color);
}
.home-btns {
    color: var(--heading);
    background-color: var(--primary);
    letter-spacing: 1px;
    transition:background-color 0.3s;

}

#logout {
    cursor: pointer;
    border: none;
    font-size: 15px;
    width: 4vw;
}

.trackerOutput_navbar>h2>span>button {
    width: 8vw;
    margin-left: 20px;
    border-radius: 12px;
}



img {
    height: 48vh;
    width: 25vw;
    margin-bottom: 0.5rem;
    border-radius: 14px;
    box-shadow: 3px 3px 5px 4px rgba(0, 0, 0, 0.2);
}

.trackerInput_box>input {
    width: 25vw;
    margin: 10px auto;
    font-size: 18px;
    padding: 10px;
}


.expense_btns {
    margin: 4px;
    display: flex;
    width: 25vw;
    justify-content: space-evenly;
}

.expense_btns>button {
    cursor: pointer;
    width: 8vw;
    font-size: 0.88rem;
    font-weight: 600;
    border-radius: 12px;
    border: none;
}
.expense_btns>button:hover{
    background-color: var(--dark-color);
}

.trackerOutput_box>h2 {
    text-align: center;
}

.trackerOutput_box>ul {
    margin: 0px 20px;
}

.trackerOutput_box>ul>li {
    font-size: 26px;
}

.totalExpenses {
    position: absolute;
    padding: 20px;
    width: 100%;
    background-color: var(--dark-color);
    color: var(--heading);
    bottom: 0%;
    text-align: center;
    box-shadow: 2px -2px 5px 4px rgba(0, 0, 0, 0.2);
}


.list-group-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--primary);
    background-color: var(--inner-bg);
    margin-bottom: 20px;
    border-radius: 14px;
    box-shadow: 3px 3px 5px 4px rgba(0, 0, 0, 0.2);
    padding: 14px;
    transition: box-shadow 0.3s;
}

.list-group-item:hover {
    box-shadow: 3px 3px 5px 4px rgba(0, 0, 0, 0.4);
}

.list-amount {
    color: var(--dark-color);
    /* font-family: cursive; */
}

#total_expenses {
    font-family: cursive;
}

::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width:940px) {
    .loginBody {
        padding: 20px;
    }

    .loginBody>form {
        display: flex;
        border: 1px solid black;
        padding: 12px;
        width: 50vw;
        background-color: antiquevar(--heading);
        box-shadow: 2px 3px 5px 4px rgba(0, 0, 0, 0.2);
        flex-flow: column nowrap;
        border-radius: 20px;
    }

    form>img {
        margin: 20px auto;
        height: 45vh;
        width: 45vw;
    }

    form>input {
        font-size: 16px;
        width: 100%;
    }

    form>button {
        font-size: 13px;
        width: 30vw;
    }

    form>button:hover {
        background-color: gray;
    }

    form>button>i {
        margin-right: 10px;
    }


    .trackerOutput_box {
        display: flex;
        padding: 30px;
        flex-flow: column nowrap;
        overflow: scroll;
    }

    .trackerInput_box {
        margin: auto;
        width: 80%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }

    .trackerInput_navbar,
    .trackerOutput_navbar {
        background-color: var(--primary);
        padding: 10px;
        text-align: center;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        min-height: 10vh;
        justify-content: space-evenly;
        position: sticky;
        box-shadow: 4px 1px 3px 4px rgba(0, 0, 0, 0.3);
        color: var(--heading);
        transition: box-shadow 0.3s;
    }

    h2 {
        font-size: 1.4rem;
    }


    .deleteBtn {
        width: 4vw;
    }

    .home-btns {
        background-color: var(--primary);
        letter-spacing: 0px;
    }

    #logout {
        font-size: 13px;
    }

    .trackerInput_box>img {
        height: 48vh;
        width: 32vw;
        margin-bottom: 0.3rem;
    }

    .trackerInput_box>input {
        width: 30vw;
        font-size: 16px;
    }


    .expense_btns {
        margin: 2px;
        width: 30vw;
    }

    .expense_btns>button {
        font-size: 0.75rem;
    }

    /* .trackerOutput_box>ul {
        margin: 0px 20px;
    } */

    .trackerOutput_box>ul>li {
        font-size: 22px;
    }

    .totalExpenses {
        padding: 12px;
        /* width: 100%;
        background-color: var(--dark-color);
        color: var(--heading);
        bottom: 0%;
        text-align: center;
        box-shadow: 2px -2px 5px 4px rgba(0, 0, 0, 0.2); */
    }

    /* 
    .list-group-item {
        display: flex;
        justify-content: space-between;
        color: var(--primary);
    } */
}

@media screen and (max-width: 800px) {
    h2 {
        font-size: 18px;
    }

    #logout {
        width: 8vw;
        font-size: 12px;
    }

    .deleteBtn {
        width: 5vw;
    }

    .list-group-item {
        margin-bottom: 20px;
    }

    .expense_btns>button {
        width: 12vw;
        padding: 12px;
        font-size: 12px;
    }

}

@media screen and (max-width:620px) {
    .loginBody>form {
        width: 70vw;
        padding: 14px;
    }

    form>img {
        margin: 20px auto;
        height: 45vh;
        width: 65vw;
    }

    form>input {
        font-size: 14px;
    }

    form>button {
        font-size: 11px;
        width: 50vw;
    }

    form>button:hover {
        background-color: gray;
    }

    form>button>i {
        margin-right: 10px;
    }

    .home {
        display: block;
    }

    .trackerInput_container,
    .trackerOutput_container {
        flex: 0.50;
        height: 100vh;
        display: flex;
        border-right: none;
    }


    .trackerOutput_box {
        display: flex;
        padding: 30px;
        flex-flow: column nowrap;
        overflow: scroll;
    }


    h2 {
        font-size: 20px;
        letter-spacing: 2px;
    }

    #logout {
        width: 10vw;
        font-size: 15px;
    }

    .deleteBtn {
        width: 7vw;
    }

    .expense_btns {
        margin-bottom: 20px;
        width: 70vw;
    }

    .expense_btns>button {
        width: 22vw;
        padding: 12px;
        font-size: 16px;
    }

    #userImg {
        margin-left: 20px;
        height: 10vh;
        width: 8vw;
        border-radius: 50%;
        border: none;
    }

    .trackerInput_box>img {
        height: 48vh;
        width: 60vw;
        margin-bottom: 0.3rem;
    }

    .trackerInput_box>input {
        width: 70vw;
        font-size: 16px;
    }


    .list-group-item {
        padding: 8px;
        display: flex;
    }

    .trackerOutput_box>ul>li {
        font-size: 18px;
    }


    .totalExpenses {
        padding: 12px;
        font-size:22px;
        box-shadow: 2px -2px 5px 8px rgba(0, 0, 0, 0.22);
    }

}

@media screen and (max-width:430px) {

    .loginBody>form {
        height: 90vh;
        width: 70vw;
    }

    form>img {
        margin: 0px auto;
        height: 30vh;
        width: 55vw;
    }

    form>input {
        font-size: 12px;
    }

    form>button {
        font-size: 10px;
        width: 95%;
    }


    form>button>i {
        margin-right: 10px;
    }

    h2 {
        font-size: 16px;
        letter-spacing: 1px;
    }

    #logout {
        width: 10vw;
        font-size: 14px;
    }

    .deleteBtn {
        width: 10vw;
    }

    .expense_btns {
        margin-bottom: 20px;
        width: 70vw;
    }

    .expense_btns>button {
        width: 20vw;
        font-size: 13px;
    }

    #userImg {
        height: 10vh;
        width: 12vw;
    }

    .trackerInput_box>img {
        height: 48vh;
        width: 60vw;
        margin-bottom: 0.3rem;
    }

    .list-group-item {
        padding: 10px;
    }

    .trackerOutput_box>ul>li {
        font-size: 16px;
    }


    .totalExpenses {
        padding:15px 0px;
        font-size: 16px;
        box-shadow: 2px -2px 5px 8px rgba(0, 0, 0, 0.22);
    }

    }
